body {
    background-color: bisque;
}

#font-face{
    border: var(--borda-padrao);
    float: right;
    margin: 0 20px 20px 0;
    padding: 20px;
    width: calc(80% - 80px);
    height: auto;
    background-color: beige;
    background-clip: border-box;
    text-align: left;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    color: rgba(52, 73, 94, 1.0);


   
}

.search-box {
    position: absolute;
    top: 30px;
    
    background-color: rgb(255, 255, 255);

    height: 40px;
    border-radius: 40px;
    padding: 4px;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    right: 100px;
}

::-webkit-input-placeholder {
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 0, 0);

}

.search-text {
    background-color: none;
    border: 0;
    outline: 0;
    padding: 0;

    font-size: 16px;

    transition: 0.4s;

    width: 0;

}

.search-btn {
    width: 64px;
    height: 64px;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
 

}

.search-box:hover > .search-text  {
    width: 100px;
    
}